<h1>View all movies</h1>

<ul>
<% @movies.each do |movie| %>
  <li><%= link_to movie.title, movie_path(movie.id) %></li>
<% end %>
</ul>

<%= link_to "View all media", root_url %>  <%= link_to "Add a movie", new_movie_path %>
