<h1>View all albums</h1>

<ul>
<% @albums.each do |album| %>
  <li><%= link_to album.title, album_path(album.id) %></li>
<% end %>
</ul>

<%= link_to "View all media", root_url %>  <%= link_to "Add an album", new_album_path %>
